.custom-overlay-menu {
  overflow: hidden;
}

.custom-modal-menu {
  min-width: 900px;
  max-width: 1300px;
  height: 620px;
  margin-bottom: 10px;
  padding: 15px 60px;
}

.custom-modal-menu .react-responsive-modal-close-icon {
  display: none;
}

.modal-menu {
  padding: 10px;
}
.modal-menu h4 {
  position: relative;
  right: 16px;
}

.modal-menu .lhtd-button {
  padding: 6px 28px;
}

.btn-open-modal {
  width: 95%;
}

.btn-open-modal:focus,
.btn-open-modal:active {
  box-shadow: none !important;
}

.modal-menu .btn-menu-cancel {
  margin-left: 10px;
  background-color: #9e9e9e;
}
.btn-menu-cancel:hover {
  color: #9e9e9e;
  border-color: #9e9e9e;
  background-color: #fff;
}

.modal-menu-container {
  border: 1px solid #e0e0e0 !important;
  margin-top: 20px;
  padding: 30px 0px 60px 37px;
  min-height: 500px;
}

.modal-menu-container > div {
  padding: 10px 0px 10px 0px;
}

.modal-menu-container > div p {
  padding: 10px 0px 0px 16px;
}

.modal-top-menu {
  border: 2px solid rgb(233, 236, 239);
  margin: 0px;
  float: left;
  min-width: 280px;
  height: 425px;
  overflow-x: auto;
}

.modal-submenu {
  min-width: 490px;
  max-width: 600px;
  float: right;
  margin-right: 31px;
  background-color: #f9f9f9;
}

.modal-submenu .modal-submenu-container {
  padding: 2px 27px;
  z-index: 0;
}
.modal-menu .btn-sumbit {
  position: relative;
  bottom: 45px;
  float: right;
  right: 32px;
}
.modal-menu .custom-lhtd-button {
  padding: 4px 14px;
}

/* active */
.modal-menu .active {
  background-color: #f9f9f9;
}

@media (max-height: 400px) {
  .custom-modal-menu {
    margin-top: 270px;
    margin-bottom: 20px;
  }
}
.custom-modal-menu .modal-submenu-container .pagination a {
  cursor: pointer;
}
