.header-adding {
  width: 100%;
  padding: 10px 30px 10px 30px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 99999;
  box-shadow: 0 1px rgb(100, 0, 0, 0.2);
}
.header-adding img {
  height: 25px;
  width: 25px;
  position: relative;
  top: -5px;
}

.header-adding img:hover {
  animation-name: keyframes2;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  position: relative;
}
@keyframes keyframes2 {
  0% {
    left: 0px;
    visibility: visible;
  }
  30% {
    left: -50px;
    visibility: hidden;
  }
  60% {
    left: 50px;
    visibility: hidden;
  }
  90% {
    left: 0px;
    visibility: visible;
  }
}
.border-bot {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.menu-title {
  color: #ef7a00;
  font-size: 25px;
  display: inline-block;
  padding-left: 100px;
  font-weight: bold;
}
.cell-content {
  margin: 20px 12% 50px 12%;
  border: 1px solid white;
  background-color: white;
  padding: 0 3% 100px 3%;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 3px rgb(172, 170, 170);
}
.cell-title {
  text-align: center;
  font-size: 17px;
  padding: 25px 50px;
  margin: 40px 0 40px 0; /* need to fix */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  max-width: 70%;
  background-color: #e0e0e0; /* need to fix */
}
.input-cell {
  text-align: right;
  font-size: 12px;
}
.left-content {
  padding: 0 5%;
  float: left;
  display: block;
  width: 50%;
  padding-bottom: 75px;
}
.right-content {
  padding: 0 5%;
  display: inline-grid;
  width: 50%;
}

.post-btn {
  float: right;
  margin: 32px 80px 10px 10px;
}
