.error {
  color: red;
  font-size: 0.8em;
  text-align: left;
}
.errorInput {
  border-color: red;
}
.combo-box {
  margin-top: 16px;
  height: 33px;
  max-width: 90%;
  font-size: 12px !important;
}
.combo-box select {
  border-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  font-size: 12px !important;
}
.combo-box-label {
  line-height: 38px;
  height: 38px;
}
.input_max_length {
  line-height: 45px;
  font-size: 12px;
}
/* .input_error_container {
    padding-top: 7px;
  } */
