.left-sidebar {
  position: absolute;
  width: 270px;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  z-index: 20;
  padding-top: 20px;
  padding-right: 10px;
  height: 100%;
  float: left;
  border-top: 1px solid #e0e0e0;
  background: #fafafa;
}

@media (min-height: 550px) {
  .left-sidebar {
    padding-top: 50px;
  }
}

.sidebar-nav ul {
  margin: 0px;
  padding: 0px;
}

.sidebar-nav ul .slideContent {
  display: none;
}

.sidebar-nav .activeToggle {
  transform: rotate(180deg);
}

.sidebar-nav > ul > li {
  list-style: none;
  margin: 0 2px 3px 30px;
}

.sidebar-nav > ul > li > a {
  font-weight: 700;
  padding: 4px 15px 4px 12px;
  display: block;
  font-size: 15px;
  cursor: pointer;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
  color: #ef7a00;
}

.sidebar-nav ul li a i {
  float: right;
  padding-top: 3px;
}

.sidebar-nav ul li .slide:hover {
  color: #ef7a00;
}

.sidebar-nav ul li ul {
  padding-left: 12px;
}

.sidebar-nav > ul > li > a:hover i {
  color: #ef7a00;
}

.sidebar-nav > ul > li > ul {
  margin-bottom: 3px;
}

.sidebar-nav > ul > li > ul > li {
  list-style: none;
  padding: 5px 15px;
  color: #9e9e9e;
}

.sidebar-nav > ul > li > ul > li a {
  color: #9e9e9e;
}

.purun {
  animation: purun 1.8s linear 0s infinite;
  animation-fill-mode: forwards;
}

.animation-stop {
  animation-play-state: paused;
}

@keyframes purun {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  6.6% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  13.2% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  22% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  30.8% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  44.1% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.logo {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.logo .fa-crow {
  font-size: 30px;
}

.logout-link {
  font-weight: 700;
  padding: 4px 15px 4px 12px;
  display: block;
  font-size: 15px;
  cursor: pointer;
  color: #007bff;
}

.logout-link:hover {
  color: #ef7a00;
}
