#selectinfotype .form-type-color {
  color: #ef7a00 !important;
  pointer-events: none;
  cursor: default;
}

#selectinfotype .form-type:hover {
  color: #ef7a00;
}
#selectinfotype .disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

#selectinfotype .fa-icon {
  font-size: 30px;
}

.info__form .text-rate {
  padding-top: 9px;
}
.info__form .has-error {
  border-color: red;
}
.info__form .has-error:focus {
  border-color: red;
}
.info__form .has-error div {
  margin-bottom: 20px;
}
.info__form .text-type {
  margin-left: 35%;
}

.info__form .col-select-info-type {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: inherit;
  position: relative;
  overflow-x: auto;
  max-width: 40%;
  left: 10px;
  margin-bottom: 10px;
}
