.col-select-info-type .form-type-color {
  color: #ef7a00;
  border: 1px solid #ef7a00;
  padding: 4px !important;
}

.form-display-icon:hover {
  color: #ef7a00;
}

.form-display-icon p {
  padding-top: 7px !important;
}

.type-hiden {
  display: none;
}
