.modal-top-menu ul {
  list-style: none;
  display: inline;
}

.modal-top-menu ul li {
  padding: 10px 12px;
}

.modal-top-menu ul li img {
  margin-right: 20px;
}
.modal-top-menu ul li span {
  margin-right: 20px;
  white-space: nowrap;
}
.modal-top-menu ul li span:hover {
  color: #ef7a00;
}

.modal-top-menu ul li:hover {
  background-color: #f9f9f9;
}
.top-menu-cursor {
  cursor: pointer;
  margin-left: 10px;
}
.top-menu-cursor .menu-img {
  margin-left: 40px;
}
.row-top-menu-tick {
  float: right;
}
.row-top-menu-tick div {
  margin: 0px;
  width: 15px;
  margin-right: 15px;
}
.row-top-menu-tick .custom-fa__top-menu {
  color: #ef7a00;
  position: relative;
  cursor: pointer;
}

.row-top-menu-tick i:hover {
  color: #ef7a00;
}
