.search-bar {
  padding: 35px 122px;
  border: 1px solid #e0e0e0;
}
.search-info-btn-search {
  width: 100%;
}
.search-info-btn-search button {
  padding: 3% 25%;
}

.input-group-btn button {
  background: white;
  border: 1px solid #e0e0e0;
  border-right: none;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  height: 100%;
}
.input-group-btn button:focus,
.input-group-btn button:active {
  box-shadow: none !important;
}

.btn-link {
  margin-top: -3px;
  border: 1px solid sandybrown;
  text-decoration: none;
  padding-left: 28px;
  padding-right: 28px;
}
