.error {
  color: red;
  font-size: 0.8em;
  text-align: left;
}
.errorInput {
  border-color: red;
}
.input-box {
  margin-top: 16px;
  height: 33px;
  max-width: 90%;
  font-size: 12px;
}
.input-box input {
  border-radius: 5px !important;
}
.input-box-label {
  line-height: 38px;
  height: 38px;
}
.input_max_length {
  line-height: 45px;
  font-size: 12px;
}
/* .input_error_container {
  padding-top: 7px;
} */
