* {
  outline: none !important;
}

body,
#root {
  height: 100%;
}

#main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main-wrapper .header {
  padding: 10px 0px;
}

#main-wrapper .content {
  clear: both;
  background: #e0e0e024;
  position: relative;
  flex: 1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .page-wrapper {
    margin-left: 270px;
  }
}
@media (max-width: 1023px) {
  .page-wrapper {
    margin-left: 270px;
    transition: 0.2s ease-in;
  }
}

.page-wrapper {
  border-top: 1px solid #e0e0e0;
  background: #ffffff;
  min-height: 670px;
  padding-bottom: 20px;
  height: 100%;
}

.page-wrapper .topbar {
  position: relative;
  z-index: 50;
  background: #ffffff;
  height: 60px;
  padding-top: 15px;
  border-bottom: 1px solid #e9ecef;
}

@media (min-height: 800px) {
  .page-wrapper {
    min-height: 870px;
  }
}

@media (min-height: 1200px) {
  .page-wrapper {
    min-height: 2590px;
  }
}

.page-wrapper .container-fluid {
  padding-top: 20px;
  /* width: 95%; */
  padding-left: 30px;
  padding-right: 30px;
}
.header-titles-left {
  font-size: 20px;
  /* bottom: 4px; */
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  width: 270px;
}

.lhtd-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #ef7a00;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 50px;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.lhtd-button:hover {
  transition: all 0.2s ease;
  color: #ef7a00;
  background-color: white;
  border: 1px solid #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}
.pagination {
  margin: 0 auto;
}
.pagination li {
  padding: 7px;
}
.topbar .row {
  margin-left: 10px;
}
.topbar .to-list {
  text-decoration: none;
  color: #54667a;
}
.topbar .to-list:hover {
  color: #ef7a00;
}

.topbar a span {
  margin-left: 10px;
  font-size: 15px;
}
.topbar a .fa-icon--header-left {
  font-size: 20px;
}

.pagination li a {
  color: #000;
}
.pagination .active a {
  color: #ef7a00;
}
.hiden {
  display: none;
}
.no-padding {
  padding: 0 0 0 0;
}

.form-control:focus,
.form-control:active {
  box-shadow: none !important;
}
input {
  height: 33px;
}
.validate-title {
  color: red;
}
