.Modal-closeIcon-0-1-4 {
  display: none !important;
}
.Modal-modal-0-1-3 .lthd-delete .ldth-OK {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #ef7a00;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-NO {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #9e9e9e;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-OK:hover {
  transition: all 0.2s ease;
  color: #ef7a00;
  background-color: white;
  border: 1px solid #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-NO:hover {
  transition: all 0.2s ease;
  color: #9e9e9e;
  background: white;
  border: 1px solid #9e9e9e;
  border-radius: 0.25rem;
  text-decoration: none;
}
.info-type-id {
  position: absolute;
  right: 10px;
}
