.row-search-info {
  padding-right: 0px;
  padding-left: 54px;
}
.suggestion-container {
  margin-top: 35px;
  position: absolute;
  z-index: 1;
}
.search-component .search-heigt {
  height: 100% !important;
}
.search-component .icon-search {
  position: absolute;
  left: 10px;
  top: 11px;
  font-size: 1.2em;
  z-index: 100;
}
.search-component .input-container {
  position: relative;
  padding: 0;
}
.search-component input {
  padding-left: 35px;
  padding-bottom: 6px;
}
.search-component .label {
  line-height: 38px;
}
.search-component li {
  padding-right: 15px;
}
.search-component a {
  padding-left: 35px;

  position: relative;
}
.dropdown-menu .description {
  display: block;
  font-size: 12px;
  font-weight: 200;
  padding: 5px 5px 2px 10px;
  word-break: break-all;
  width: 100%;
}

.rbt-highlight-text {
  background-color: #fcf8e3;
  font-weight: bold;
}
