.info-list-data--right {
  text-align: center;
}
.info-list-data--right i {
  font-size: 20px;
}
.info-list-data__type i {
  font-size: 20px;
}
.info-list-data--right i:hover {
  cursor: pointer;
  color: #ef7a00;
}
.info-list-data--right a {
  color: #616161;
}
.Modal-closeIcon-0-1-4 {
  display: none !important;
}
.Modal-modal-0-1-3 .lthd-delete .ldth-OK {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #ef7a00;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-NO {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #9e9e9e;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-OK:hover {
  transition: all 0.2s ease;
  color: #ef7a00;
  background-color: white;
  border: 1px solid #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}

.Modal-modal-0-1-3 .lthd-delete .ldth-NO:hover {
  transition: all 0.2s ease;
  color: #9e9e9e;
  background: white;
  border: 1px solid #9e9e9e;
  border-radius: 0.25rem;
  text-decoration: none;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.info-list-data--right .icon-detail {
  margin-left: 10px;
}
.custom-delete_popup {
  background-color: #ef7a00;
}

.custom-delete_popup:hover {
  transition: all 0.2s ease;
  background-color: white;
  border: 1px solid #ef7a00;
  color: #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}
.doneBtn {
  color: white;
  background-color: #26ac21;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: 2px 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  border-radius: 0.25rem;
}
.doneBtn:hover {
  color: #26ac21;
  background-color: white;
  border: 1px solid #26ac21;
}
.cancelBtn {
  color: white;
  background-color: #ef7a00;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: 2px 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  border-radius: 0.25rem;
}
.cancelBtn:hover {
  color: #ef7a00;
  background-color: white;
  border: 1px solid #ef7a00;
}
.acceptBtn {
  color: white;
  background-color: #2169ac;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: 2px 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  border-radius: 0.25rem;
}
.acceptBtn:hover {
  color: #2169ac;
  background-color: white;
  border: 1px solid #2169ac;
}
