.input-area {
  height: 150px !important;
  max-width: 400px !important;

  width: 70% !important;
  resize: none !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px;
  padding: 6px 12px;
}
.input-area ::placeholder {
  color: #e0e0e0;
}
.error {
  color: red;
  font-size: 0.8em;
  text-align: left;
}
.errorInput {
  border-color: red;
}
.area_max_length {
  line-height: 45px;
  font-size: 12px;
  display: inline-block;
  top: -40px;
}
/* .input_error_container {
    padding-top: 7px;
  } */
