.gallery {
  border: 1px solid #e0e0e0;
  width: 88%;
  text-align: left;
  min-height: 400px;
}

.gallery-menu {
  width: auto;
  margin: 30px 20px !important;
  text-align: left;
  padding: 0 6%;
}

.gallery-menu label {
  text-align: left !important;
  display: inline-block;
  width: 150px;
}

.lhtd-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  background-color: #ef7a00;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 50px;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.lhtd-button:hover {
  transition: all 0.2s ease;
  color: #ef7a00;
  background-color: white;
  border: 1px solid #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}
.add-img {
  visibility: hidden;
  width: 50px;
}

.gallery-title {
  font-size: 17px;
  padding: 25px 50px;
  margin: 40px 30px 40px 0;
  /* need to fix */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  max-width: 450px;
  text-align: center;
  background-color: #e0e0e0;
  /* need to fix */
  display: inline-block !important;
  max-width: 70%;
  min-width: 35%;
}

.img-row {
  margin: 10px 15px 10px 15px;
  display: inline-block;
}
.img {
  width: 280px;
  height: 180px;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: -1px 1px rgba(146, 146, 146, 0.301);
}
.img-button {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 10;
  left: -13px;
  top: -85px;
}
.img-row button:active {
  animation-name: animation;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}
@keyframes animation {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
