.loading__icon {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateX(-50%);
}
