.table-custom-border {
  margin-left: 15px;
  margin-bottom: 10px;
}

.table-custom-border th {
  border-top: none !important;
}

.table-custom-border tbody {
  overflow-y: auto;
  width: 110%;
}

.table-custom-border tbody tr {
  background-color: #ffffff;
}

.table-custom-border tbody tr .click {
  padding: 6px 28px;
  border: 1px solid #b1a8a8;
  cursor: pointer;
}

.table-custom-border tbody tr .active {
  padding: 6px 28px;
}

.table-custom-border tbody tr:hover {
  background-color: #b1a8a8;
}

.table-custom-border tbody tr td {
  border: 1px solid #b1a8a8;
}
.table-custom-border tbody tr td .fa-custom-icon {
  color: #ef7a00;
  cursor: pointer;
}
.loading {
  margin: 0 auto;
}
