.text-right {
  text-align: right;
  padding-top: 5px;
}

.select-menu-delete-cursor {
  cursor: pointer;
  padding-top: 2px;
  position: relative;
  right: 15px;
}
.text-menuId {
  padding-top: 4px;
}
.select-menu-delete-cursor i:hover {
  color: #ef7a00;
}

.col-border {
  padding: 0px;
}

.col-border div {
  width: 95% !important;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  padding: 5px 20px;
}
