body {
  font-size: 12.8px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #616161;
  font-family: "Noto Sans Japanese", "Open Sans", sans-serif;
  overflow-x: hidden;
}

.back-button {
  height: 40px;
}
.btn-add {
  text-align: right;
  padding-right: 0px;
}
.btn-add i {
  font-size: 18px;
}

.btn-add .btn-link {
  margin-right: 28px;
}

/* change css Bootstrap */
.form-control,
.dropdown-menu {
  font-size: 12.8px !important;
}
