.custom-modal__popup {
  min-width: 500px;
}
.custom-modal__popup button {
  float: right;
  margin-left: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: visible;
  color: white;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 15px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.custom-modal__popup .ldth-OK {
  background-color: #ef7a00;
}
.custom-modal__popup .ldth-NO {
  background-color: #9e9e9e;
}
.custom-modal__popup button:hover {
  transition: all 0.2s ease;
  background-color: white;
  border: 1px solid #ef7a00;
  border-radius: 0.25rem;
  text-decoration: none;
}
.custom-modal__popup .ldth-OK:hover {
  color: #ef7a00;
}

.custom-modal__popup .ldth-NO:hover {
  color: #9e9e9e;
}

.custom-modal__popup .hiden {
  display: none;
}
.custom-modal__popup p {
  min-width: 250px;
  line-height: 50px;
}
.custom-modal__popup {
  padding: 0 0 0 0 !important;
  height: 190px;
  border-radius: 0.5em;
}
.custom-modal__popup .popup-container {
  height: 100%;
  width: 100%;
}
.custom-modal__popup .modal-header {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 1.2em;
  line-height: 50px;
  background: #ef7a00;
}
.custom-modal__popup .modal-message-container {
  width: 100%;
  min-height: 75px;
  border-top: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  display: flex;
  align-items: center;
}
.custom-modal__popup .modal-btn-container {
  padding: 20px 20px 0 0;
}
.popup-loading {
  display: flex;
  justify-content: center;
  height: 120px;
  background-size: 80px;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 45px;
  text-align: center;
}
.flex_center {
  display: flex;
  justify-content: center;
}
.custom-icon {
  display: none;
}
